.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.entranceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.formBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBlock {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 30px;
}

.inputName {
  color: #525161;
  font-size: 17px;
  font-weight: 700;
}

.formName {
  color: #525161;
  font-size: 25px;
  font-weight: 700;
}

.formNameo {
  color: #525161;
  font-size: 30px;
  font-weight: 700;
}

.entranceButton {
  font-size: 17px;
  font-weight: 700;
  background-color: #F6581C;
  color: white;
  padding: 7px 15px;
  border-radius: 8px;
  width: 100px;
  margin-top: 20px;
}

.entranceInput {
padding: 10px 20px;
width: 200px;
border-radius: 8px;
margin-bottom: 5px;
}

.linkButton {
  display: flex;
  justify-content: flex-end;
  width: 220px;
  margin: 5px 10px;
}

.linkText {
  text-decoration: none;
  font-size: 11px;
  color: #525161;
  font-weight: 700;
}